
jupyter/jupyterNotebooks/env_ipdpp_2122
jupyter/.ipynb_checkpoints/Untitled-checkpoint.ipynb
jupyter/jupyterNotebooks/.ipynb_checkpoints/
jupyter/jupyterNotebooks/covid_lastday.csv
jupyter/jupyterNotebooks/covid_lastday_b.csv
jupyter/jupyterNotebooks/Helloworld.ipynb
jupyter/jupyterNotebooks/inclass/.ipynb_checkpoints/
jupyter/jupyterNotebooks/other/
jupyter/jupyterNotebooks/src/.ipynb_checkpoints/
jupyter/jupyterNotebooks/src/__pycache__/utils.cpython-37.pyc
knime/Archive.zip
*.version
*.tree
*.resources
*.prefs
knime/ws_in_class/
knime/ws_shadow/
knime/ws_old.zip
